<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
     >
<head>
  <meta charset="UTF-8">
  <title>ALL USER</title>
</head>
<body>
><div>
  <h1>Информация о пользователе</h1>

  <table border="1">
    <tr>
      <th>name</th>
      <th>surname</th>
      <th>department</th>
      <th>salary</th>

    </tr>
    <tr>
      <td th:utext="${user.name}">Имя</td>
      <td th:utext="${user.surname}">Фамилия</td>
      <td th:utext="${user.department}">Отдел</td>
      <td th:utext="${user.salary}">Зарплата</td>
    </tr>
  </table>
  <br>
  <a href="/logout">Logout</a>

</div>
</body>
</html>